apiVersion: v1
kind: Secret
metadata:
  name: "{{ .AppName }}--opensearch-credentials"
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
type: Opaque
stringData:
  username: "{{ .Values.opensearch.auth.username }}"
  password: "{{ .Values.opensearch.auth.password }}"