@use "@carbon/react/scss/spacing";
@use "@carbon/react/scss/type";

.servicesContainer {
  background-color: var(--cds-layer-02);
}

.pageHeader {
  background-color: var(--cds-layer-01);
  margin-bottom: 0;
  border: none !important ;

  :global(.c4p--page-header__last-row-buffer) {
    border-bottom: none;
  }

  :global(.cds--grid) {
    margin: 0;
  }
}

.tabList {
  @include type.type-style("heading-compact-01");
  margin: 0;
  background-color: var(--cds-layer-01);
  padding-left: spacing.$spacing-06;
  border-bottom: 1px solid var(--cds-border-subtle-01);

  :global(.cds--tabs__nav-item),
  :global(.cds--tabs__nav-link) {
    border-bottom: 2px solid var(--cds-border-subtle-01);
  }

  :global(.cds--tabs__nav-item--selected) {
    border-bottom: 3px solid var(--cds-border-interactive);
  }
}

:global(.cds--tab-content) {
  background-color: var(--cds-layer-02);
  min-height: spacing.$spacing-13;
}

.catalogGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  column-gap: spacing.$spacing-05;
  row-gap: spacing.$spacing-05;
  margin: spacing.$spacing-07 spacing.$spacing-06 0 spacing.$spacing-07;
}

.loadingMessage,
.errorMessage {
  @include type.type-style("body-long-01");
  padding: spacing.$spacing-07;
  margin: spacing.$spacing-05 spacing.$spacing-06;
  text-align: center;
}

.errorMessage {
  color: var(--cds-text-error);
}
