{{- if .Values.apiKey }}
apiVersion: v1
kind: Secret
metadata:
  name: "vllm-secret-{{ .InstanceSlug }}"
  labels:
    ai-services.io/template: "{{ .TemplateID }}"
type: Opaque
stringData:
  apiKey: "{{ .Values.apiKey }}"
{{- end }}
