apiVersion: v1
kind: Pod
metadata:
  name: "digitize-{{ .InstanceSlug }}"
  labels:
  ai-services.io/template: "{{ .TemplateID }}"
  annotations:
    ai-services.io/ports: "{{ .Values.digitizeUi.port }}:4001, {{ .Values.digitize.port }}:4000"
    io.podman.annotations.pids-limit/backend-server: "4096"
spec:
  containers:
    - name: ui
      image: "{{ .Values.digitizeUi.image }}"
      resources:
        requests:
          memory: "512Mi"
        limits:
          memory: "512Mi"
      env:
        - name: BACKEND_HOST
          value: "digitize-{{ .InstanceSlug }}"
        - name: BACKEND_PORT
          value: "4000"
      ports:
        - containerPort: 4001
          protocol: TCP
      livenessProbe:
        httpGet:
          path: /
          port: 4001
        initialDelaySeconds: 10
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 3
    - name: backend-server
      image: "{{ .Values.digitize.image }}"
      command:
        - "/var/venv/bin/python"
        - "-m"
        - "uvicorn"
        - "digitize.app:app"
        - "--host"
        - "0.0.0.0"
        - "--port"
        - "4000"
        - "--loop"
        - "uvloop"
        - "--http"
        - "httptools"
      ports:
        - containerPort: 4000
          name: http
      livenessProbe:
        httpGet:
          path: /health
          port: 4000
        initialDelaySeconds: 30
        periodSeconds: 10
        timeoutSeconds: 5
        failureThreshold: 3
      resources:
        requests:
          memory: "50Gi"
        limits:
          memory: "50Gi"
      env:
        - name: EMB_ENDPOINT
          value: "http://{{ .Values.embedding.host }}:{{ .Values.embedding.port }}"
        - name: EMB_MODEL
          value: "{{ .Values.embedding.model }}"
        - name: EMB_MAX_TOKENS
          value: "512"
        - name: LLM_ENDPOINT
          value: "http://{{ .Values.llm.host }}:{{ .Values.llm.port }}"
        - name: LLM_MODEL
          value: "{{ .Values.llm.model }}"
        - name: OPENSEARCH_HOST
          value: "{{ .Values.vector_store.host }}"
        - name: OPENSEARCH_PORT
          value: "{{ .Values.vector_store.port }}"
        - name: OPENSEARCH_DB_PREFIX
          value: "RAG_DB"
        - name: OPENSEARCH_INDEX_NAME
          value: "RAG_INDEX"
        - name: OPENSEARCH_USERNAME
          value: "{{ .Values.vector_store.auth.username }}"
        - name: OPENSEARCH_PASSWORD
          value: "{{ .Values.vector_store.auth.password }}"
        - name: OPENSEARCH_NUM_SHARDS
          value: "1"
        - name: LOG_LEVEL
          value: "{{ .Values.digitize.log_level }}"
      volumeMounts:
        - mountPath: /var/cache:z
          name: cache
  restartPolicy: Always
  volumes:
    - name: cache
      hostPath:
        path: "{{ .BaseDir }}/applications/{{ .InstanceSlug }}/cache"
        type: DirectoryOrCreate
